// Colors
$green-default: #19aa8d;
$orange-default: #f8ac59;
$red-default: #ed5565;
$light-blue-default: #23c6c8;
$blue-default: #248aaf;
$light-gray-default: #a8acb0;
$gray-default: #5d5f61;
$white-default: #fafafa;
$black-default: #28262c;