/*
* TAG html
*/
html, body {
    height: 100%;
    margin: 0;
}

/*
* TAG body
*/
body {
    font-family: Lato, "Helvetica Neue", Arial, sans-serif;
    font-size: 14px;
    line-height: 1.42857;
    color: #767676;
    background-color: #eaeaea;
}